body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eff3f9;
    font-size: 18px;
    font-weight: 50;
    line-height: 1.6;
    color: #475e7e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #4a90f1
}

a:hover {
    -webkit-text-decoration: underline solid rgba(74, 144, 241, .4);
    text-decoration: underline solid rgba(74, 144, 241, .4)
}

.container {
    display: block;
    padding: 100px
}

h1,
h2,
h3 {
    font-weight: 400;
    margin: 0
}

